*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

#container{
    width: 100%;
    height: 100vh;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}

.logo{
    width: 80px;
}

.list-items{
    list-style: none;
    display: inline;
    margin: 0px 20px;
}

.link{
    text-decoration: none;
    font-weight: 600px;
    color: black;
}

.link:hover{
    /* text-decoration: underline; */
    color: rgb(12, 199, 93);
}

.home-content{
    margin: 13px 0px 0px 8%;
    margin-top: 200px;
}

#username{
    font-size: 50px;
    margin-bottom: 20px;
    font-family: "Sofia", cursive ;
}
#lname{
        font-family: "Sofia", cursive ;
        color: rgba(5, 176, 111, 0.989);
}

#user-details{
    line-height: 1.5;
}

#download{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-top: 30px;
}

.home-img{
    width: 45%;
    height: 75%;
    position: absolute;
    right: 30px;
    bottom: 0px;
}

.group1{
    position: absolute;
    height: 100%;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    transition: bottom 2s,left 1s;
}

.home-img:hover #shape{
    bottom: 70px;
}

.home-img:hover #girl{
    left: 30%;
}

#about{
    margin: 15px 8% 0px 8%;
}
.sectionhead{
    margin-top: 30%;
    text-align: center;
}
.mainhead{
    text-align: center;
    font-size: 30px;
}
.subhead{
    text-align: center;
    color: green;
    font-size: 20px;
}
 
.aboutbody{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    text-align: center;

}

.img1{
    width: 80%;
}

.aboutcontent{
    margin-top: 20%;
    font-size: 20;
    text-align: justify;

}

.informations{
    margin-top: 1.3rem;

}

.infobox{
    margin-bottom: 10px;

}

.infobox span{
    margin-left: 1rem;
}

/* #skill{
    margin: 20px 8% 0px 8%;
} */

#skill{
    margin:8% 8% 0px 8% ;
}
.skillcontent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 30px;
}
.bars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 0px;
}
.barhead,.barpercent{
font-weight:500;
font-size: 1.3rem;
}
.basebar{
    width: 100%;
    height: 0.5rem;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
}
.portraitbar{
    background-color: green;
    width: 90%;
}
.landscapebar{
    background-color: green;
    width: 98%;
}
.editbar{
    background-color: green;
    width: 85%;
}
.wildbar{
    background-color: green;
    width: 70%;
}
.myskills{
    width: 70%;
}
.skillsubhead{
    text-align: center;
    color: green;
    font-size: 20px;
}

.myskills{
    width: 100%;
}

/* #skillsubhead{
    text-align: center;
} */

#contact{
    margin: 13% 8% 0px 8%;
}

.iconcollection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

}

.icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.brands{
    color: black;
    font-size: 1.7rem;
}

.icon:hover{
    background-image: linear-gradient(to bottom right,green,rgb(83, 156, 70),rgb(147, 101, 101));
}

.icon:hover .brands{
    color: white;
    /* animation */
    animation: myanimation 3s;
}

@keyframes myanimation{
    0%{
        transform: rotate(90deg);
    }
     25%{
        transform: rotate(180deg);
    }
     50%{
        transform: rotate(180deg);
    }
     75%{
        transform: rotate(270deg);
    }
     100%{
        transform: rotate(360deg);
    }
}

footer{
    margin: 13% 0px 10% 8%;
}


#copyright{
    text-align: center;
    font-weight: 600;
}

.uparrow{
    float: right;
    margin: -13% 20px 0px 0px ;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    background-color: beige;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(62, 229, 143);
}